* {
    padding: 0;
    margin: 0;
}

#add-book {
    display: none;
    flex-direction: column;
    min-width: 10rem;
    width: 10vw;
    justify-content: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#add-book > * {
    margin: .25rem 0;
}

#card-holder {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    border-radius: .5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.4);
}

.haveRead-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.readButton {
    padding: .5rem .25rem;
    border-radius: .25rem;
    background-color: red;
    border: none;

}


.read {
    background-color: green;
    color: white;
}

.del-btn {
    padding: .5rem .25rem;
    border-radius: .25rem;
    border: none;
    background-color: coral;
}
